<header>
  <div id="header-wrap" ng-include src="'modules/mainPage/views/header.html'">
  </div>
</header>


<div class="nav" ng-class="{showNav: navClick}">
	<div class="middleNav">
		<a class="small-nav" href="#/resume" style="background-image: url('modules/resume/images/resumeImage.png')"> </a>
		<a class="small-nav" href="#/myWork" style="background-image: url('modules/mainPage/images/myWork.png')"></a>
		<a class="small-nav" href="#/recipeApp" style=""></a>			
	 </div>
</div>
<div id="resume-wrapper"> 
	<div class="mainRegion-resume">
	    <div id="wrapper-resume">
	        <div id="center">
	            <div id="resume">
	                <h1 align="center"> Resume </h1>
	                <h2 align="center">  </h2><hr />
	            </div>
	            <div id="summary">
	                <p>
	                    <h3>Summary</h3>
	                    <br /> <br />
	                    A results-driven, information finding individual. Strong and confident with computer design and problem solving skills. I pride myself on my time management skills and attention to detail.
	                </p><hr />
	            </div>
	            <div id="tech-skills">
	                <p>
	                    <h3>Technical skills</h3><br />
	                    <ul style="list-style-type:disc">
	                        <li> Web Development, All Layers, From Database to Services to User Interfaces. With a Passion for Front-End </li>
	                        <li> Skilled with HTML, CSS3, Javascript, jQuery </li>
	                        <li> Experience Building Software Applications with Angular, React, Redux </li>
	                        <li> Working Knowledge of C, C++, and C# </li>
	                        <li> Node.js and Python Experience </li>
	                        <li> Microsoft ASP.NET MVC, Web API Experience </li>								
	                        <li> Familiar with UI Toolkits and Frameworks with cross-browser compatibility </li>
	                        <li> Detail Oriented with Both Big and Small Tasks </li>
	                        <li> Managed Multiple Full Cycle Projects in a Deadline-Driven Environment </li>
	                    </ul>
	                </p>
	            </div><hr />
	            <div id="other-skills">
					<h3>Projects</h3>
					<br />
	            </div>
	            <div id="projects">
	                <div class="project">
	                    <p>
	                        <b>Blackjack server/client: </b>
	                        <ul>
	                            <li> Written in Python </li>
	                            <li> Created Server and client </li>
	                            <li> Server had 5 seats for playing and unlimited clients access(putting them in a lobby) </li>
	                            <li> Implemented chat system between clients </li>
	                            <br />
	                        </ul>
	                    </p>
	                </div>
	                <div class="project">
	                    <p>
	                        <b>DVD rental application:</b>
	                        <ul>
	                            <li>Written in C#</li>
	                            <li>GUI interface with Visual Studio</li>
	                            <li>Uses simple .txt file to save and load data</li>
	                            <li>Windows Form application</li>
	                        </ul>
	                    </p>
	                    <br />
	                </div>
	                <div class="project">
	                    <p>
	                        <b>Internal Ad Placement Tool: </b>
	                        <ul>
	                            <li>Written in Angular.js</li>
	                            <li>Node Server</li>
	                            <li>Ajax calls talking to Python Flask servers</li>
	                        </ul>
						</p>
						<br />
	                </div>
	                <div class="project">
	                    <p>
	                        <b>Quiz platform:</b>
	                        <ul>
	                            <li> Written in React & Redux </li>
	                            <li> Node Server </li>
	                            <li> Displayed mulitple typs of quizes <br> Knowledge, Personality, Screenshot, Reveal Game</li>
	                        </ul>
	                    </p>
	                    <br />
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>