#resume-wrapper {
  height: auto;
  width: 100%;
  
  margin: 0 auto;
  border: 1px solid black
}
#center {
  margin-left: 35px;
}
#wrapper-resume {
  width: 900px;
  margin: 0 auto;
  border: 1px solid #CCC;
  background-color: #FFF;
}

@media only screen and (max-width: 1000px) {
	#wrapper-resume {
		width: auto;
	}
}