#header {
  width: 100%;
  display: block;
}
#header h2 {
  color: #fff;
  font-size: 25px;
  text-align: left;
  margin: 0 0 0 25px;
  padding-top: 15px;
  font-style: italic;
  font-weight: normal;
  float: left;
}
#header .link-block {
  float: right;
  margin: 50px 200px 0 0;
  height: 60px;
}
#header .link-block a {
  color: #fff;
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
  font-style: italic;
  font-weight: normal;
  cursor: pointer;
}
#header .link-block a:hover {
  color:#044BBF;
  text-decoration: none;
}
.fa-bars {
	color: #FFF;
	cursor: pointer;
}
.logo {
  background-image: url('../images/Logo.png');
  width: 50px;
  height: 50px;
  float: left;
}
.menuBar {
  display: none;
  margin: 10px;
}
li {
  display: inline-block;
  margin: 0 20px;
}

@media only screen and (max-width: 1000px) {

  .menuBar {
    display: block;
    float: left;
  }
  .logo {
    float: right;
  }

}

