body {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
#mainRegion {
  height: 850px;
  width: 100%;
  margin: 0 auto;
}
.nav-box {
  width: 300px;
  height: 500px;
  border: 1px solid #CCC;
  transition: all .2s ease-in-out;
  float: left;
}
.nav-box:hover {
  transform: scale(1.1);
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
.resume {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 100px 100px 0;
}
.main-block {
  margin: 0 auto;
  width: 1110px;
  height: 500px;
  padding-top: 220px;
  color: #FFF;
  text-align: center;
}
.main-block h1 {
  font-size: 60px;
}
@media only screen and (max-width: 700px) {

  .main-block {
    width: 300px
  }
  .main-block h1 {
    font-size: 32px;
  }
  .main-block h3 {
    font-size: 15px;
  }

}
